<!DOCTYPE html>
<html>
  <head>
    <title><%= Title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Title %></h1>
    <p>Welcome to <%= Title %></p>

<p> Brand = <%= Brand %> </p>
<p> h1 = <%= h1 %> </p>

<p> p = <%= p %> </p>






  </body>
</html>